body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
}

.header, .section, .footer {
    flex: auto;
    
}

.header, .footer {
    background-color: #1F2937;
}

.section.odd {
    background-color: #fff;
}

.section.even {
    background-color: #E5E7EB;
}

