body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Ubuntu, sans-serif;

    height: 100vh;
    margin: 0px;
}

.header, .section, .footer {
    flex: auto;
    
}

.header, .footer {
    background-color: #1F2937;
}

.header {
    color: #FFF;
    padding: 20px 110px 100px 110px;
}

.header-bar {
    display: flex;
    justify-content: space-between;
}

.header-bar h1 {
    display: flex;
    align-items: center;
    margin: 0px;
}

.header-bar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}


.section.odd {
    background-color: #fff;
}

.section.even {
    background-color: #E5E7EB;
}

